@font-face {
  font-family: 'Asoka-Myanmar';
  src:url('../../font/Asoka-Myanmar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Asoka-Myanmar", "PingFang SC", "helvetica neue", sans-serif;
}