@font-face {
  font-family: 'HelveticaNeue-Bold';
  src:url('../../font/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PingFang SC", "helvetica neue", sans-serif;
}
.loading-page .title {
  font-family: 'Joox Brand Bold';
}
.loading-page .title .main-title {
  font-size: 0.575rem;
  -webkit-text-stroke: 2px #000;
}
.loading-page .title .main-desc {
  font-size: 0.19rem;
  -webkit-text-stroke: 1.4px #000;
}
body.ios .loading-page .title .main-title {
  -webkit-text-stroke: 1.5px #000;
}
body.ios .loading-page .title .main-desc {
  -webkit-text-stroke: 1.3px #000;
}