.icons-sprite, .box-download .close, .box-download .logo .pic {
    background-image: url(https://joox.app.wechat.com/static/img/out_downloadbox_icon.png);
    background-repeat: no-repeat;
  }
  
  .box-download {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
    overflow: hidden;
    pointer-events: none;
  }
  
  .box-download .close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-position: 0 1;
    background-size: 177px 111px;
    height: 38px !important;
    width: 37px !important;
    background-size: 118px 74px !important;
    height: 24px !important;
    width: 24px !important;
    cursor: pointer;
    pointer-events: auto;
  }
  
  .box-download .logo {
    width: 100%;
    padding: 108px 0;
    text-align: center;
    text-indent: 0;
  }
  
  .box-download .logo .pic {
    display: inline-block;
    background-position: 0 -35px;
    background-size: 177px 111px;
    height: 77px !important;
    width: 178px !important;
  }
  
  .box-download .btn-line {
    margin: 0 21px;
  }
  
  .box-download .btn-line .but, .box-download .btn-line .btn {
    display: block;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 100%;
    background: none;
    margin-left: 0 !important;
    pointer-events: auto;
  }
  
  .box-download .btn-line .but:last-child, .box-download .btn-line .btn:last-child {
    margin-top: 39px;
  }
  
  .box-download .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(15px);
    -webkit-transform: scale(1.05);
  }
  
  .box-download .bg_mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
  }
  
  @media (max-width: 320px) {
    .box-download .logo {
      padding: 70px 0;
    }
  }