@import "app.less";
html, body {
    -ms-touch-action: none;
    -webkit-touch-action: none; 
    touch-action: none; 
    background-color: #3583fd;
    padding: 0;
    border: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03e596;
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.loading-page .title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -2.7rem;
    text-align: center;
    color: #FFE90E;
    font-weight: 600;
    user-select: none;
    font-family: 'Joox Brand Bold';
    img {
        width: 0.93rem;
    }
    .main-title {
        // font-size: .575rem;
        line-height: 1;
        letter-spacing: 0;
        // &.stroke {
        //     -webkit-text-stroke: 2px #000;
        //     letter-spacing: 0;
        // }
    }
    .main-desc {
        // font-size: .19rem;
        line-height: 1.2;
        letter-spacing: 0;
        // -webkit-text-stroke: 1.4px #000;
    }
}

// body.ios {
//     .loading-page .title {
//         .main-title {
//             &.stroke {
//                 -webkit-text-stroke: 1.5px #000;
//             }
//         }
//         .main-desc {
//             -webkit-text-stroke: 1.3px #000;
//         }
//     }
// }

.loading-page .tips {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    // margin-top: 1.45rem;
    transform: translateX(-50%);
    color: #000;
    text-align: center;
    font-size: 0.13rem;
    opacity: 0;
    &.show {
        opacity: 1;
    }
}

.loading-page .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 3.2rem;
    // margin-top: 1.8rem;
    transform: translateX(-50%);
    opacity: 0;
    &.show {
        opacity: 1;
    }
}

.loading-page .progress .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .46rem;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #000;
    box-shadow: 0 1px 1px 1px #000;
    overflow: hidden;
}

.loading-page .progress .progress-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff72a;
    border-radius: 50px;
}
.loading-page .progress .progress-progress img{
    position: absolute;
    top: -.04rem;
    right: -.12rem;
    width: .25rem;
}

.loading-page button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff72a;
    border-radius: 50px;
    color: #000;
    font-size: .18rem;
    height: .46rem;
    outline: none;
    display: none;
    border: 1px solid #000;
    box-shadow: 0 1px 1px 1px #000;
    user-select: none;
    font-weight: 700;
}
.loading-page button:active {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
}
.sound {
    display: none;
}

.reward-rule-btn {
    color: #03e596;
}

// @media screen and (max-height: 560px) {
//     .loading-page .progress {
//         margin-top: 1.9rem;
//     }
// }

// @media screen and (max-height: 500px) {
//     .loading-page .progress {
//         margin-top: 1.8rem;
//     }
// }