@font-face {
    font-family: 'Joox Brand Bold';
    src:url('../font/JOOX-Brand-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Joox Brand Regular';
    src:url('../font/JOOX-Brand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: calc(100vw /375 * 100);
}

body {
    font-size: .16rem;
    font-family: "PingFang SC", "helvetica neue", "Microsoft YaHei", sans-serif;
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.stroke {
    // -webkit-text-stroke: 1px #000;
    // text-shadow: 0 1px 0 #000;
    -webkit-text-stroke: 1px #000;
}

// body.android {
//     .stroke {
//         -webkit-text-stroke: 1px #000;
//     }
// }