@font-face {
  font-family: 'Joox Brand Bold';
  src: url('../font/JOOX-Brand-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Joox Brand Regular';
  src: url('../font/JOOX-Brand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: calc(100vw / 375 * 100);
}
body {
  font-size: 0.16rem;
  font-family: "PingFang SC", "helvetica neue", "Microsoft YaHei", sans-serif;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.stroke {
  -webkit-text-stroke: 1px #000;
}
.loading-page {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.loading-page.hide {
  opacity: 0;
  pointer-events: none;
}
.reward-rule-btn {
  position: absolute;
  top: 0.12rem;
  left: 0;
  padding: 0.06rem 0.12rem;
  border-radius: 0 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffdd2b;
  font-size: 0.12rem;
  font-weight: 500;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  line-height: 1;
}
.reward-rule-btn.show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.rule-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #03e596;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.rule-page.active {
  z-index: 0;
}
.rule-page.show {
  z-index: 10;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.page-dialog {
  width: 100vw;
  height: 100vh;
  padding-top: 0.2rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
}
.modal.show {
  z-index: 10;
  opacity: 1;
}
.modal.show .modal-mask {
  opacity: 1;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.modal-mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.3rem;
  padding-top: 0.4rem;
  height: 60vh;
  transform: translate(-50%, 50vh);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
}
.modal-dialog .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
}
.modal-dialog .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.modal-dialog .close span:before,
.modal-dialog .close span:after {
  display: block;
  content: '';
  width: 0.21rem;
  height: 0.21rem;
  background-color: #000;
}
.modal-dialog .close span:before {
  height: 1px;
  margin-left: -0.1rem;
}
.modal-dialog .close span:after {
  width: 1px;
  margin-top: -0.11rem;
}
.dialog-header {
  font-family: 'Joox Brand Bold';
}
.dialog-header p {
  color: #ffdd2b;
  line-height: 1;
  font-size: 0.3rem;
  text-align: center;
  -webkit-text-stroke: 1.5px #000;
}
.dialog-body {
  padding: 0.15rem 0;
  color: #000;
  font-size: 0.12rem;
  height: calc(100vh - 0.2rem - 0.36rem);
}
.dialog-body .scroll {
  height: 100%;
  padding: 0 0.12rem;
  overflow-y: auto;
  word-break: break-word;
}
.dialog-body .scroll p {
  font-size: 0.12rem;
  line-height: 1.6;
  word-break: break-word;
}
.dialog-body .scroll a {
  padding-top: 0.03rem;
  color: #000;
  text-decoration: underline;
  font-family: 'HelveticaNeue-Bold';
  display: block;
}
.dialog-footer {
  width: 100%;
  padding: 0.1rem;
}
.dialog-footer button {
  display: block;
  width: 100%;
  max-width: 3rem;
  height: 0.44rem;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-size: 0.2rem;
  border: none;
  outline: none;
  border-radius: 500px;
}
.sound {
  position: fixed;
  top: 0.12rem;
  right: 0.12rem;
  width: 0.25rem;
  height: 0.25rem;
}
.sound img {
  width: 100%;
}
.sound.on {
  -webkit-animation: _rotate 2s linear infinite;
  animation: _rotate 2s linear infinite;
}
@keyframes _rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html,
body {
  -ms-touch-action: none;
  -webkit-touch-action: none;
  touch-action: none;
  width: 100vw;
  height: 100vh;
  background-color: #00E597;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}
.page {
  width: 100%;
  height: 100vh;
  padding-bottom: 0.1rem;
}
.ui-container {
  width: 100%;
  overflow: hidden;
}
.top {
  position: relative;
  width: 100%;
  padding-top: 260.86%;
  background-color: #ffdd2b;
  transition: padding-top 0.8s ease-in-out 0.1s;
}
.top .result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20% 0 0;
  text-align: center;
  user-select: none;
}
.top .result .line {
  display: inline-block;
  width: 1px;
  height: 0.24rem;
  margin: 0 0.1rem;
  border-left: 1px solid #000000;
}
.top .result .score {
  font-family: "HelveticaNeue-Bold", "PingFang SC", "helvetica neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .result #score,
.top .result #percent {
  position: relative;
  font-size: 0.3rem;
  font-weight: 900;
  font-family: "Joox Brand Bold";
}
.top .stroke {
  font-weight: 600;
  font-family: 'Joox Brand Bold';
  -webkit-text-stroke: 2px #000;
}
.top .result p {
  opacity: 0;
  transform: translate(0, 0.8rem);
  transition: transform 0.6s ease-in, opacity 0.3s ease-in-out;
}
.top .result p:first-child {
  transform: translate(0, 0.4rem);
  transition: transform 0.4s ease-in, opacity 0.3s ease-in-out;
}
.top .result p:nth-child(2) {
  transform: translate(0, 0.6rem);
  transition: transform 0.5s ease-in, opacity 0.3s ease-in-out;
}
.star {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.8s;
}
.top .star {
  position: absolute;
  bottom: 26%;
  right: 27%;
  width: 0.25rem;
}
.info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00E597;
  padding-bottom: 0.03rem;
}
.info .star {
  position: absolute;
  top: -0.6rem;
  left: 0.35rem;
  width: 0.36rem;
}
.win_jojo {
  position: absolute;
  top: 72%;
  right: 21%;
  width: 0.765rem;
  opacity: 0;
  transform: rotate(10deg);
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out 0.2s;
}
body.active .top {
  padding-top: 72%;
}
body.active .top .result p {
  opacity: 1;
  transform: translate(0, 0);
}
body.active .win_jojo {
  opacity: 1;
  transform: rotate(10deg) translate(0, 0);
}
body.active .star {
  opacity: 1;
}
body.active .top .star {
  opacity: 1;
  -webkit-animation: shine 1.8s linear infinite 0.2s;
  animation: shine 1.8s linear infinite 0.2s;
}
body.active .info .star {
  opacity: 1;
  -webkit-animation: shine 1.5s linear infinite;
  animation: shine 1.5s linear infinite;
}
.win-mask {
  position: absolute;
  bottom: 90%;
  left: 0;
  width: 100%;
  line-height: 0;
}
.win-mask .head-img {
  position: absolute;
  left: 39.65%;
  bottom: 11.75%;
  width: 21%;
  padding-top: 21%;
  background-color: #FFBA2A;
  border-radius: 500px;
  overflow: hidden;
}
.win-mask .head-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.win-mask .mask-img {
  position: relative;
  width: 100%;
}
.suport {
  padding: 15% 0 5%;
}
.suport .texts p {
  display: inline-block;
}
.suport .logo {
  width: 0.9rem;
}
.suport .line {
  width: 1px;
  height: 0.84rem;
  margin: 0 0.15rem;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
}
.btn {
  width: 2.8rem;
  height: 0.46rem;
  margin-top: 0.12rem;
  border-radius: 50px;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 0.18rem;
  outline: none;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 1px #000;
  -webkit-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
.btn.grey {
  background-color: rgba(255, 247, 37, 0.15) !important;
  color: rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
}
.btn:not(.grey):active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}
.btn-group {
  width: 2.8rem;
  height: 0.44rem;
  margin-top: 0.1rem;
  display: flex;
}
.btn-group .btn:last-child {
  /* margin-left: 0.1rem; */
}
.btn.share {
  flex: 1;
  margin-top: 0;
  background-color: #ffb231;
}
.btn.reward {
  background-color: #fff725;
}
.info-tip {
  margin-top: 0.05rem;
  color: #86FF3F;
  font-size: 0.12rem;
}
.retry-btn {
  margin-top: 0.1rem;
  padding: 0.06rem;
  text-decoration: underline;
  color: #000;
  font-size: 0.18rem;
  font-weight: 700;
}
.bottom-tip {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0.1rem;
  font-size: 0.12rem;
  color: #000;
  opacity: 0.4;
  text-align: center;
}
@keyframes shine {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (max-height: 560px) {
  .self .suport {
    padding: 12% 0 3%;
  }
}
@media screen and (max-height: 500px) {
  .self .suport {
    padding: 10% 0 2%;
  }
}
