@import "app.less";
html, body {
    -ms-touch-action: none;
    -webkit-touch-action: none; 
    touch-action: none; 
    width: 100vw;
    height: 100vh;
    background-color: #00E597;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}
.page {
    width: 100%;
    height: 100vh;
    padding-bottom: 0.1rem; 
}
.ui-container {
    width: 100%;
    overflow: hidden;
}
.top {
    position: relative;
    width: 100%;
    padding-top: 260.86%;
    background-color: #ffdd2b;
    transition: padding-top 0.8s ease-in-out 0.1s;
}
.top .result{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20% 0 0;
    text-align: center;
    user-select: none;
    .line {
        display: inline-block;
        width: 1px;
        height: .24rem;
        margin: 0 0.1rem;
        border-left: 1px solid rgba(0, 0, 0, 1);
    }
    .score {
        font-family: "HelveticaNeue-Bold", "PingFang SC", "helvetica neue", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #score,
    #percent {
        position: relative;
        // top: -0.02rem;
        font-size: 0.3rem;
        font-weight: 900;
        font-family: "Joox Brand Bold";
    }
}
.top .stroke {
    font-weight: 600;
    font-family: 'Joox Brand Bold';
    -webkit-text-stroke: 2px #000;
    // text-shadow: #000 0px -1px 0, #000 0px 2px 0, #000 0px 0px 0, #000 0px -1px 0;
}
.top .result p {
    opacity: 0;
    transform: translate(0, 0.8rem);
    transition: transform 0.6s ease-in, opacity 0.3s ease-in-out;
}
.top .result p:first-child {
    transform: translate(0, 0.4rem);
    transition: transform 0.4s ease-in, opacity 0.3s ease-in-out;
}
.top .result p:nth-child(2) {
    transform: translate(0, 0.6rem);
    transition: transform 0.5s ease-in, opacity 0.3s ease-in-out;
}
.star {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.8s;
}
.top .star {
    position: absolute;
    bottom: 26%;
    right: 27%;
    width: 0.25rem;
}
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00E597;
    padding-bottom: 0.03rem;
}
.info .star {
    position: absolute;
    top: -0.6rem;
    left: 0.35rem;
    width: 0.36rem;
}
.win_jojo {
    position: absolute;
    top: 72%;
    right: 21%;
    width: 0.765rem;
    opacity: 0;
    transform: rotate(10deg);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out 0.2s;
}
body.active .top{
    padding-top: 72%;
}
body.active .top .result p{
    opacity: 1;
    transform: translate(0, 0);
}
body.active .win_jojo{
    opacity: 1;
    transform: rotate(10deg) translate(0, 0);
}
body.active .star{
    opacity: 1;
}
body.active .top .star{
    opacity: 1;
    -webkit-animation: shine 1.8s linear infinite 0.2s;
    animation: shine 1.8s linear infinite 0.2s;
}
body.active .info .star{
    opacity: 1;
    -webkit-animation: shine 1.5s linear infinite;
    animation: shine 1.5s linear infinite;
}
.win-mask {
    position: absolute;
    bottom: 90%;
    left: 0;
    width: 100%;
    line-height: 0;
    .head-img {
        position: absolute;
        left: 39.65%;
        bottom: 11.75%;
        width: 21%;
        padding-top: 21%;
        background-color: #FFBA2A;
        border-radius: 500px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    .mask-img {
        position: relative;
        width: 100%;
    }
}
.suport {
    padding: 15% 0 5%;
    .texts {
        p {
            display: inline-block;
        }
    }
}
.suport .logo{
    width: 0.9rem;
}
.suport .line{
    width: 1px;
    height: 0.84rem;
    margin: 0 0.15rem;
    border-left: 1px solid rgba(0,0,0,0.8);
}
.btn {
    width: 2.8rem;
    height: 0.46rem;
    margin-top: 0.12rem;
    border-radius: 50px;
    border: none;
    color: #000;
    font-weight: 700;
    font-size: 0.18rem;
    outline: none;
    border: 1px solid #000;
    box-shadow: 0 1px 1px 1px #000;
    -webkit-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    &.grey {
        background-color: rgba(255, 247, 37, 0.15)!important;
        color: rgba(0, 0, 0, 0.2);
        border: 1.5px solid rgba(0, 0, 0, 0.15);
        box-shadow: none;
    }
}
.btn:not(.grey):active {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
}
.btn-group {
    width: 2.8rem;
    height: 0.44rem;
    margin-top: 0.1rem;
    display: flex;
}
.btn-group .btn:last-child {
    /* margin-left: 0.1rem; */
}
.btn.share {
    flex: 1;
    margin-top: 0;
    background-color: #ffb231;
}
.btn.reward {
    background-color: #fff725;
}
.info-tip {
    margin-top: 0.05rem;
    color: #86FF3F;
    font-size: 0.12rem;
}
.retry-btn {
    margin-top: 0.1rem;
    padding: 0.06rem;
    text-decoration: underline;
    color: #000;
    font-size: .18rem;;
    font-weight: 700;
}
.bottom-tip {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0.1rem;
    font-size: 0.12rem;
    color: #000;
    opacity: 0.4;
    text-align: center;
}
@keyframes shine {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-height: 560px) {
    .self {
        .suport {
            padding: 12% 0 3%;
        }
    }
}

@media screen and (max-height: 500px) {
    .self {
        .suport {
            padding: 10% 0 2%;
        }
    }
}