@font-face {
  font-family: 'HelveticaNeue-Bold';
  src:url('../../font/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HelveticaNeue-Bold", "PingFang SC", "helvetica neue", sans-serif;
}